// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'CrocWeb', sans-serif;

$material-light: (
  'background': #fff
);

$background: #E5E5E5;
$text-color-primary: #22215B;
$secondary: #FFA436;
$text-color-secondary: #7B7F9E;
